/* CSS file or within your React component */
.subtitle-maincard{
    font-size: 14px;
}

@media (max-width: 576px) {
    .special-card {
      width: 80%; 
      height: 300px; 
    
    }
    .subtitle-maincard{
        font-size: 18px;
    }
  
  
  }
  